body {
	background: #80b07e;
}
/*прибирає стрілки з числового інпута*/
input[type=number] {
    -moz-appearance:textfield;
}

h2 {
	font-size: 2em;
	font-style: italic;
}

h1 {
	font-size: 2.5em;
	font-weight: bold;
}

.readonly-form {
	display: none;
}

table {
	color: #0a450b;
	table-layout: fixed;
	width: 100%;
	td, th {
		width: 2%;
		padding: 1px;
		input[type=text] {
			width: 100%;
			
		}
		
	}
}
